* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #fff;
    background: #000;
    margin-top: 30%
}

h1 {
    text-align: center;
    margin-top: 40px;
}

.container {
    display: flex;
    width: 100%;
    height: 30vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.key {
    width: 70px;
    height: 70px;
    border: solid 1px rgb(143, 27, 27);
    margin: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-size: x-large;
    cursor: pointer;
    transition: all .07s ease;
}

.sound-name {
    padding: 0;
    margin: 0;
    font-size: small;
    color: lavender;
}

.playing {
    border: solid 3px rgb(238, 9, 9);
    font-size: xx-large;
    font-weight: bolder;
    transform: scale(1.1);
    border-radius: 3px;
    box-shadow: 1px 1px rgb(143, 27, 27);
}

@media (min-width: 1000px) {
    body {
        margin-top: 15%;
    }
}